<body class="min-h-screen flex w-full">
        <div class="w-4/5 flex items-center justify-center relative bg-no-repeat bg-cover bg-center overflow-hidden">
            <img src="/assets/clicker_img/clicker_bg.png" class="w-full h-full " />
            <div class="absolute transition-transform duration-300 ease-linear" [ngStyle]="{ top: imagePosition.top, left: imagePosition.left }">
                @if(counter < 10) {
                    <div class="image" (click)="onImageClick()">
                        <img src="assets/clicker_img/raft_clicker_game_model_0.png" alt="Game Model 0" class="object-contain w-full h-full">
                    </div>
                } @else if (counter >= 10 && counter < 300) {
                    <div class="image" (click)="onImageClick()">
                        <img src="assets/clicker_img/raft_clicker_game_model_1.png" alt="Game Model 1" class="object-contain w-full h-full">
                    </div>
                } @else if (counter >= 300 && counter < 1000) {
                    <div class="image" (click)="onImageClick()">
                        <img src="assets/clicker_img/raft_clicker_game_model_2.png" alt="Game Model 2" class="object-contain w-full h-full">
                    </div>
                } @else if (counter >= 1000 && counter < 5000) {
                    <div class="image" (click)="onImageClick()">
                        <img src="assets/clicker_img/raft_clicker_game_model_3.png" alt="Game Model 3" class="object-contain w-full h-full">
                    </div>
                } @else if (counter >= 5000 && counter < 25000) {
                    <div class="image" (click)="onImageClick()">
                        <img src="assets/clicker_img/raft_clicker_game_model_4.png" alt="Game Model 4" class="object-contain w-full h-full">
                    </div>
                } @else if (counter >= 25000) {
                    <div class="image" (click)="onImageClick()">
                        <img src="assets/clicker_img/raft_clicker_game_model_5.png" alt="Game Model 5" class="object-contain w-full h-full">
                    </div>
                }
            </div>
        </div>
        <!-- Partie Droite -->
        <div class="w-2/5 bg-[#D9D9D9] p-4">
            <div class="fixed top-4 left-4">
                <a routerLink="/earth" href="/earth">
                    <img src="assets/arrow.png" class="w-16 h-16 cursor-pointer" alt="logo">
                </a>
            </div>

            <div class="counter text-4xl font-bold flex justify-center items-center">
                Total: {{ counter | number:'1.1-1' }}
                <br>
                Income/s: {{ Totalincome | number:'1.1-1' }}
            </div>
            <div class="mt-4">
                <img src="assets/clicker_img/bg_vertical_separator.png" class="w-full" alt="Vertical Separator">
            </div>

            <div>
                @for(upgrade of UpgradeList; track upgrade.ID) {
                    @if(counter >= upgrade.seuilAffiche) {
                        <div class="upgrade flex justify-center items-center my-4" (click)="onUpgradeClick(upgrade.ID)">
                            <img [src]="upgrade.ImgPath" class="m-1" alt="{{ upgrade.Name }}">
                            <div class="m-1">
                                <p><strong>Nom:</strong> {{ upgrade.Name }}</p>
                                <p><strong>Coût:</strong> {{ upgrade.Cost }}</p>
                                <p><strong>Income:</strong> {{ upgrade.Income > 0 ? upgrade.Income : Math.abs(upgrade.Income) }}</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
</body>
